# Environment variables
.env
.env.local
.env.production
.env.*.local

# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

backend/uploads/
frontend/package-lock.json
backend/package-lock.json

frontend/dist/index.html
